$lightTeal: #35929B;
$white: #FFFFFF;
$primaryBlue: #0F64D4;
$primaryHover: lighten($primaryBlue, 20%);
$primaryActive: lighten($primaryBlue, 10%);
$lightGrey: #EEEEEE;
$grey: darken($lightGrey, 80%);
$darkestGrey: #333333;
