{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
    "sourceMaps": "inline",
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "babel-plugin-styled-components",
        "react-hot-loader/babel"
    ]
}
